
<mat-card>
  <mat-card-title><h2>Plant 5 Core Process Cards</h2> </mat-card-title>
  <form [formGroup]="searchForm">
    <div class="row">
      <div class="col">
        <select formControlName="Job" class="form-select col-6" >
          <option [ngValue]="null" disabled>Job Number</option>
          <option *ngFor="let item of Job" [ngValue]="item.name"  >
            {{item.name}}
          </option>
        </select>
      </div>
    </div>
  </form>
</mat-card>
<iframe class="container-flex"
[src]="iFrameUrl"
*ngIf="displayIFrame"
style="height: 90%;  position:absolute; background: white;">

</iframe>
